<section>
  {{#if messages.delete-ticket}}
    <div class='message'>
      <span>{{messages.delete-ticket}}</span>
    </div>
  {{/if}}
  {{#if messages.create-ticket}}
    <div class='message'>
      <span>{{messages.create-ticket}}</span>
    </div>
  {{/if}}
  {{#if messages.sucess-login}}
    <div class='message'>
      {{messages.sucess-login}}
    </div>
  {{/if}}

  {{#if messages.error-privilege}}
    <div class='message'>
      {{messages.error-privilege}}
    </div>
  {{/if}}
  <table class='table'>
  <thead>
    <tr>
      <th class="table-padding">ID</th>
      <th>Título</th>
      <th>Equipamento</th>
      <th>Setor</th>
      <th>Data</th>
      <th>Início do atendimento</th>
      <th>Final do atendimento</th>
      <th>Solicitante</th>
      <th>Agente de suporte</th>
    </tr>
  </thead>
  <tbody>
    {{#each ticketsDuration}}
      <tr>
        <td class="table-padding"> {{this.id}}</td>
        <td class="table-align-left">{{this.title}}</td>
        <td>{{this.Equipment.dataValues.name}}</td>
        <td>{{this.Departament.dataValues.name}}</td>
        <td>{{this.date}}</td>
        <td>{{this.startTime}}</td>
        <td>{{this.endTime}}</td>
        <td>{{this.Person.dataValues.name}}</td>
        <td>{{this.Administrator.dataValues.username}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</section>