<section>
  {{#if messages.sucess-login}}
    <div class='message'>
      <span>{{messages.sucess-login}}</span>
    </div>
  {{/if}}
  <div class="container-title">
    <h1 class="title" style="margin-top: 3rem;">Dashboard</h1>
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th class="table-padding">ID</th>
        <th>Título</th>
        <th>Equipamento</th>
        <th>Setor</th>
        <th>Data</th>
        <th>Início</th>
        <th>Fim</th>
        <th>Solicitante</th>
        <th>Agente de suporte</th>
    </thead>
    <tbody>
      {{#each tickets}}
        <tr>
            <td class="table-padding">{{this.id}}</td>
            <td class="table-align-left">{{this.title}}</td>
            <td>{{this.Equipment.name}}</td>
            <td>{{this.Departament.name}}</td>
            <td>{{this.date}}</td>
            <td>{{this.startTime}}</td>
            <td>{{this.endTime}}</td>
            <td>{{this.Person.name}}</td>
            <td>{{AdministratorName}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
    <div class="table-mobile">
      {{#each tickets}}
        <div class="table-mobile-dashboard">
          <p><b>ID: </b>{{this.id}}</p>
          <p><b>Título: </b>{{this.title}}</p>
          <p><b>Equipamento: </b>{{this.Equipment.name}}</p>
          <p><b>Setor: </b>{{this.Departament.name}}</p>
          <p><b>Data: </b>{{this.date}}</p>
          <p><b>Início: </b>{{this.startTime}}</p>
          <p><b>Fim: </b>{{this.endTime}}</p>
          <p><b>Solicitante: </b>{{this.Person.name}}</p>
          <p><b>Agente de suporte: </b>{{AdministratorName}}</p>
        </div>
      {{/each}}
    </div>
  </div> 
</section>