<section>
  {{#if messages.delete-ticket}}
    <div class='message'>
      <span>{{messages.delete-ticket}}</span>
    </div>
  {{/if}}
  {{#if messages.create-ticket}}
    <div class='message'>
      <span>{{messages.create-ticket}}</span>
    </div>
  {{/if}}
  {{#if messages.update-ticket}}
    <div class='message'>
      <span>{{messages.update-ticket}}</span>
    </div>
  {{/if}}
  {{#if messages.error-privilege}}
    <div class='message-error'>
      <span>{{messages.error-privilege}}</span>
    </div>
  {{/if}}
  {{#if messages.error-search}}
    <div class='message-error'>
      <span>{{messages.error-search}}</span>
    </div>
  {{/if}}
  <div class="container-title">
    <h1 class="title" style="margin-top: 3rem;">Tickets</h1>
  </div>

  {{#if tickets}}
    <table class='table'>
      <thead>
        <tr>
          <th class="table-padding">ID</th>
          <th>Título</th>
          <th>Equipamento</th>
          <th>Setor</th>
          <th>Data</th>
          <th>Horário</th>
          <th>Solicitante</th>
          <th>Agente de suporte</th>
          <th>Detalhes</th>
          <th>Editar</th>
      </thead>
      <tbody>
        {{#each tickets}}
          <tr>
              <td class="table-padding">{{this.id}}</td>
              <td class="table-align-left">{{this.title}}</td>
              <td>{{this.Equipment.name}}</td>
              <td>{{this.Departament.name}}</td>
              <td>{{this.date}}</td>
              <td>{{this.startTime}}</td>
              <td>{{this.Person.name}}</td>
              <td>{{AdministratorName}}</td>
              <td>
                <a href='/ticket/detalhes/{{this.id}}' class="btn-detail"><i class="bi bi-info-square"></i></a>
              </td>
              <td>
                <a href='/ticket/editar/{{this.id}}' class="btn-edit"><i class='bi bi-pencil-square' ></i></a>
              </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    {{#unless messages.error-search}}
      <div class='message message-large-error'>
        <span>Sem resultados</span>
      </div>
    {{/unless}}
  {{/if}}

  <div class="table-mobile">
  {{#if privilege}}
    <a href='/ticket/cadastro' class="btn btn-table-mobile">Cadastar</a>
  {{/if}}
  {{#each tickets}}
      <div class="table-mobile-item">
        <div class="content">
          <p><b>ID: </b>{{this.id}}</p>
          <p><b>Título: </b>{{this.title}}</p>
          <p><b>Equipamento: </b>{{this.Equipment.name}}</p>
          <p><b>Setor: </b>{{this.Departament.name}}</p>
          <p><b>Data: </b>{{this.date}}</p>
          <p><b>Horário: </b>{{this.startTime}}</p>
          <p><b>Solicitante: </b>{{this.Person.name}}</p>
          <p><b>Agente de suporte: </b>{{AdministratorName}}</p>
        </div>
        <div class="actions">
          <a href='/ticket/editar/{{this.id}}' class="btn-edit"><i class='bi bi-pencil-square'></i>Editar</a>
          <a href='/ticket/detalhes/{{this.id}}' class="btn-detail"><i class="bi bi-info-square"></i>Detalhes</a>
        </div>
      </div>
  {{/each}}
</section>