<section class='form-conatiner'>
  {{#if messages.error-input-ticket}}
    <div class='message-error'>
      <span>{{messages.error-input-ticket}}</span>
    </div>
  {{/if}}
  <form action='/ticket/add' method='POST' class='form'>
    <div class='form-control'>
      <label for='title'>Assunto:</label>
      <input type='text' name='title' id='title' placeholder='Assunto do ticket' />
    </div>

    <div class='form-control'>
      <label>Solicitante:</label>
      <div>
        <input name='requesterInput' id='requesterSelected' placeholder="Nome do solicitante" readonly/>
        <a href='#' id='openModalBtnPerson'><i class='bi bi-search'></i></a>
      </div>
    </div>

    <div class='form-control'>
      <label for='description'>Descrição do incidente:</label>
      <textarea
        placeholder="Descrição completa do incidente"
        name='description'
        id='description'
        cols='30'
        rows='5'
      ></textarea>
    </div>

    <div class='form-control'>
      <label for='solution'>Solução:</label>
      <textarea name='solution' placeholder="Descrição completa da solução e pessoas envolvidas" id='solution' cols='30' rows='5'></textarea>
    </div>

    <div class='form-control'>
      <label for='date'>Data do ticket:</label>
      <input type='date' name='date' id='date' />
    </div>

    <div class='form-control'>
      <label for='startTime'>Início do suporte</label>
      <input type='time' name='startTime' id='startTime' />
    </div>

    <div class='form-control'>
      <label for='endTime'>Final do suporte</label>
      <input type='time' name='endTime' id='endTime' />
    </div>

    <div class='form-control'>
      <label>Agente de atendimento:</label>
        <div>
          <input name='administratorInput' id='administratorIdSelected' placeholder="Nome do agente de atendimento" readonly/>
          <a href='#' id='openModalBtnAdministrator'><i class='bi bi-search'></i></a>
        </div>
    </div>

    <div class='form-control'>
      <label>Setor:</label>
      <div>
        <input name='departamentInput' id='departamentSelected' placeholder="Nome do setor do incidente" readonly/>
        <a href='#' id='openModalBtnDepartament'><i class='bi bi-search'></i></a>
      </div>
    </div>
    
    <div class='form-control'>
      <label>Equipamento/Sistema:</label>
      <div>
        <input name='equipmentInput' id='equipmentSelected' placeholder="Nome do equipamento/sistema" readonly/>
        <a href='#' id='openModalBtnEquipment'><i class='bi bi-search'></i></a>
      </div>
    </div>
    <div class="btn-submit">
      <input type='submit' value='Cadastar' class='btn' />
    </div>
  </form>
</section>

<!--Person-->
<section
  class='modal fade'
  id='personModel'
  tabindex='-1'
  role='dialog'
  aria-labelledby='ModalLabelPerson'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ModalLabelPerson'>Colaboradores</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <section>
          <input type="text" id="searchInputPerson" placeholder="Buscar por nome do colaborador">
          <table class='table' id="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
              </tr>
            </thead>
            <tbody>
              {{#each people}}
                <tr style="cursor: pointer"
                  data-name='{{this.name}}'
                  class='selectable-row-people'
                >
                  <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.role}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
          <h6 id="no-results" class="remove">Sem resultados</h6>
        </section>
      </div>
      <div class='modal-footer'>
        <span id='currentPage'></span>
        <div class="btn-pagination">
          <button type='button' class='btn btn-table' id='prevPageBtn'>Anterior</button>
          <button type='button' class='btn btn-table' id='nextPageBtn'>Próximo</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!--Administrator-->
<section
  class='modal fade'
  id='administratorModel'
  tabindex='-1'
  role='dialog'
  aria-labelledby='ModalLabelAdministrator'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ModalLabelAdministrator'>Agentes de atendimento</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <section>
          <!-- Código Handlebars do Modal -->
          <input type="text" id="searchInputAdministrator" placeholder="Buscar por nome do agente de atentimento">
          <table class='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
              </tr>
            </thead>
            <tbody>
              {{#each administrators}}
                <tr style="cursor: pointer"
                  data-name='{{this.Person.name}}'
                  class='selectable-row-administrators'
                >
                  <td>{{this.id}}</td>
                  <td>{{this.Person.name}}</td>
                  <td>{{this.Person.role}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

        </section>
      </div>
      <div class='modal-footer'>
      </div>
    </div>
  </div>
</section>

<!--Equipment-->
<section
  class='modal fade'
  id='equipmentModel'
  tabindex='-1'
  role='dialog'
  aria-labelledby='ModalLabelEquipment'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ModalLabelEquipment'>Equipamentos/Sistemas</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <section>
          <!-- Código Handlebars do Modal -->
          <input type="text" id="searchInputEquipment" placeholder="Buscar por nome do equipamentos/sistemas">
          <table class='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
              </tr>
            </thead>
            <tbody>
              {{#each equipments}}
                <tr style="cursor: pointer"
                  data-name='{{this.name}}'
                  class='selectable-row-equipments'
                >
                  <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

        </section>
      </div>
      <div class='modal-footer'>
      </div>
    </div>
  </div>
</section>

<!--Departament-->
<section
  class='modal fade'
  id='departamentModel'
  tabindex='-1'
  role='dialog'
  aria-labelledby='ModalLabelDepartament'
  aria-hidden='true'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='ModalLabelDepartament'>Setores</h5>
        <button
          type='button'
          class='close'
          data-dismiss='modal'
          aria-label='Close'
        >
          <span aria-hidden='true'>&times;</span>
        </button>
      </div>
      <div class='modal-body'>
        <section>
          <!-- Código Handlebars do Modal -->
          <input type="text" id="searchInputDepartament" placeholder="Buscar por nome do setor">
          <table class='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
              </tr>
            </thead>
            <tbody>
              {{#each departaments}}
                <tr style="cursor: pointer"
                  data-name='{{this.name}}'
                  class='selectable-row-departaments'
                >
                  <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>

        </section>
      </div>
      <div class='modal-footer'>
      </div>
    </div>
  </div>
</section>


<script   src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha2/dist/js/bootstrap.bundle.min.js' ></script>

<!--Person-->
<script>
document.addEventListener('DOMContentLoaded', function () {
  
  let openModalBtnPerson = document.getElementById('openModalBtnPerson');
  let personModel = new bootstrap.Modal(document.getElementById('personModel'));
  let requesterSelectedInput = document.getElementById('requesterSelected');
  let table = document.getElementById('table');
  let noResults = document.getElementById('no-results');

  openModalBtnPerson.addEventListener('click', function () {
    personModel.show();
  });

  let selectableRowsPerson = document.querySelectorAll('.selectable-row-people');
  selectableRowsPerson.forEach(function (row) {
    row.addEventListener('click', function () {
      let personId = row.getAttribute('data-id');
      let personName = row.getAttribute('data-name');
      requesterSelectedInput.value = personName;
      personModel.hide();
    });
  });

  searchInputPerson.addEventListener('input', function () {
    let searchTerm = searchInputPerson.value.toLowerCase();

    selectableRowsPerson.forEach(function (row) {
      let rowNamePerson = row.getAttribute('data-name').toLowerCase();
      let isVisible = rowNamePerson.includes(searchTerm);

      if(!isVisible){
        table.classList.add('remove');
        noResults.classList.remove('remove')

      }else{
        table.classList.remove('remove');
        noResults.classList.add('remove')
      }

      // Define a visibilidade da linha com base no termo de busca
      row.style.display = isVisible ? 'table-row' : 'none';
    });
  });

// Pagination

  let currentPage = 1;
  const itemsPerPage = 2;
  const totalItems = selectableRowsPerson.length;
  const btnNextPageBtn = document.getElementById('nextPageBtn');
  const btnPrevPageBtn = document.getElementById('prevPageBtn');

  if(totalItems < itemsPerPage){
    btnNextPageBtn.classList.add('disabled');
    btnPrevPageBtn.classList.add('disabled');
  }

  function paginate(page) {
    const startIndex = (page - 1) * itemsPerPage;
    const endIndex = startIndex + itemsPerPage;

    selectableRowsPerson.forEach(function (row, index) {
      const isVisible = index >= startIndex && index < endIndex;
      row.style.display = isVisible ? 'table-row' : 'none';
    });

    document.getElementById('currentPage').innerText = `Página ${page}`;
  }


  if(currentPage ===1){
    btnPrevPageBtn.classList.add('disabled');
  }
  

  paginate(currentPage);

  document.getElementById('prevPageBtn').addEventListener('click', function () {
    if (currentPage > 1) {
      currentPage--;
      paginate(currentPage);
    }

    if(currentPage === 1){
      btnPrevPageBtn.classList.add('disabled');
    }

    btnNextPageBtn.classList.remove('disabled');

  });

  document.getElementById('nextPageBtn').addEventListener('click', function () {
    const totalPages = Math.ceil(totalItems / itemsPerPage);
    let total =  itemsPerPage * currentPage

    if (currentPage < totalPages) {
      currentPage++;
      paginate(currentPage);
    }
    
    if(total>= totalItems){
      btnNextPageBtn.classList.add('disabled');
    }

    btnPrevPageBtn.classList.remove('disabled');

  });

});
</script>

<!--Administrator-->
<script>
document.addEventListener('DOMContentLoaded', function () {
  let openModalBtnAdministrator = document.getElementById('openModalBtnAdministrator');
  let administratorModel = new bootstrap.Modal(document.getElementById('administratorModel'));
  let administratorIdSelectedInput = document.getElementById('administratorIdSelected');

  openModalBtnAdministrator.addEventListener('click', function () {
    administratorModel.show();
  });

  let selectableRowsAdministrator = document.querySelectorAll('.selectable-row-administrators');
  selectableRowsAdministrator.forEach(function (row) {
    row.addEventListener('click', function () {
      let admnistratorId = row.getAttribute('data-id');
      let admnistratorName = row.getAttribute('data-name');
      administratorIdSelectedInput.value = admnistratorName;
      administratorModel.hide();
    });
  });

  searchInputAdministrator.addEventListener('input', function () {
    let searchTerm = searchInputAdministrator.value.toLowerCase();

    selectableRowsAdministrator.forEach(function (row) {
      let rowNameAdmnistrator = row.getAttribute('data-name').toLowerCase();
      let isVisible = rowNameAdmnistrator.includes(searchTerm);
      row.style.display = isVisible ? 'table-row' : 'none';
    });
  });
});
</script>

<!--Equipment-->
<script>
document.addEventListener('DOMContentLoaded', function () {
  let openModalBtnEquipment = document.getElementById('openModalBtnEquipment');
  let equipmentModel = new bootstrap.Modal(document.getElementById('equipmentModel'));
  let equipmentSelectedInput = document.getElementById('equipmentSelected');

  openModalBtnEquipment.addEventListener('click', function () {
    equipmentModel.show();
  });

  let selectableRowsEquipment = document.querySelectorAll('.selectable-row-equipments');
  selectableRowsEquipment.forEach(function (row) {
    row.addEventListener('click', function () {
      let equipmentId = row.getAttribute('data-id');
      let equipmentName = row.getAttribute('data-name');
      equipmentSelectedInput.value = equipmentName;
      equipmentModel.hide();
    });
  });

  searchInputEquipment.addEventListener('input', function () {
    let searchTerm = searchInputEquipment.value.toLowerCase();

    selectableRowsEquipment.forEach(function (row) {
      let rowNameEquipment = row.getAttribute('data-name').toLowerCase();
      let isVisible = rowNameEquipment.includes(searchTerm);

      // Define a visibilidade da linha com base no termo de busca
      row.style.display = isVisible ? 'table-row' : 'none';
    });
  });
});
</script>

<!--Departament-->
<script>
document.addEventListener('DOMContentLoaded', function () {
  let openModalBtnDepartament = document.getElementById('openModalBtnDepartament');
  let departamentModel = new bootstrap.Modal(document.getElementById('departamentModel'));
  let departamentSelectedInput = document.getElementById('departamentSelected');

  openModalBtnDepartament.addEventListener('click', function () {
    departamentModel.show();
  });

  let selectableRowsDepartament = document.querySelectorAll('.selectable-row-departaments');
  selectableRowsDepartament.forEach(function (row) {
    row.addEventListener('click', function () {
      let departamentId = row.getAttribute('data-id');
      let departamentName = row.getAttribute('data-name');
      departamentSelectedInput.value = departamentName;
      departamentModel.hide();
    });
  });

  searchInputDepartament.addEventListener('input', function () {
    let searchTerm = searchInputDepartament.value.toLowerCase();

    selectableRowsDepartament.forEach(function (row) {
      let rowNameDepartament = row.getAttribute('data-name').toLowerCase();
      let isVisible = rowNameDepartament.includes(searchTerm);

      // Define a visibilidade da linha com base no termo de busca
      row.style.display = isVisible ? 'table-row' : 'none';
    });
  });
});
</script>