<section class='form-conatiner'>
  <form action='/ticket/edit' method='POST' class='form'>
    <input type='hidden' name='id' value='{{ticket.id}}' />
    <div class='form-control'>
      <label for='title'>Assunto:</label>
      <input
        type='text'
        name='title'
        id='title'
        placeholder='Assunto do ticket'
        value='{{ticket.title}}'
        readonly
      />
    </div>
    <div class='form-control'>
      <label>Solicitante:</label>
      <div>
        <input
          name='requesterInput'
          id='requesterSelected'
          value='{{requester.name}}'
          readonly
        />
      </div>
    </div>
    <div class='form-control'>
      <label for='description'>Descrição do incidente:</label>
      <textarea
        placeholder='Descrição completa do incidente'
        name='description'
        id='description'
        cols='30'
        rows='5'
        readonly
      >{{ticket.description}}</textarea>
    </div>
    <div class='form-control'>
      <label for='solution'>Solução:</label>
      <textarea
        name='solution'
        placeholder='Descrição completa da solução'
        id='solution'
        cols='30'
        rows='5'
        readonly
      >{{ticket.solution}}
      </textarea>
    </div>
    <div class='form-control'>
      <label for='date'>Data do ticket:</label>
      <input type='text' name='date' id='date' value='{{formattedDate}}' readonly/>
    </div>
    <div class='form-control'>
      <label for='startTime'>Início do suporte:</label>
      <input
        type='text'
        name='startTime'
        id='startTime'
        value='{{ticket.startTime}}'
        readonly
      />
    </div>
    <div class='form-control'>
      <label for='endTime'>Final do suporte:</label>
      <input
        type='text'
        name='endTime'
        id='endTime'
        value='{{ticket.endTime}}'
        readonly
      />
    </div>
    <div class='form-control'>
      <label>Agente de atendimento:</label>
      <div>
        <input
          name='administratorInput'
          id='administratorIdSelected'
          value='{{supportAgent.name}}'
          readonly
        />
      </div>
    </div>

    <div class='form-control'>
      <label>Setor:</label>
      <div>
        <input
          name='departamentInput'
          id='departamentSelected'
          value='{{departament.name}}'
          readonly
        />
      </div>
    </div>

    <div class='form-control'>
      <label>Equipamento/Sistema:</label>
      <div>
        <input
          name='equipmentInput'
          id='equipmentSelected'
          value='{{equipment.name}}'
          readonly
        />
      </div>
    </div>
  </form>
</section>