<section>
  {{#if messages.delete-person}}
    <div class='message'>
      <span>{{messages.delete-person}}</span>
    </div>
  {{/if}}
  {{#if messages.create-person}}
    <div class='message'>
      <span>{{messages.create-person}}</span>
    </div>
  {{/if}}
  {{#if messages.error-privilege}}
    <div class='message'>
      <span>{{messages.error-privilege}}</span>
    </div>
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cargo</th>
        <th>Setor</th>
        <th>Instituição</th>
        <th>Excluir</th>
    </thead>
    <tbody>
      {{#each people}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.role}}</td>
          <td>{{this.Departament.name}}</td>
          <td>{{this.Institution.name}}</td>
          <td>
            <form action='/colaborador/remove' method='post'>
              <input type='hidden' name='id' value='{{this.id}}' />
              <button type='submit' class='btn'><i
                  class='bi bi-x-square'
                ></i></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if privilege}}
    <a href="/colaborador/cadastro">Cadastar</a>
  {{/if}}
</section>