<section>
  {{#if messages.delete-institution}}
    <div class='message'>
      <span>{{messages.delete-institution}}</span>
    </div>
  {{/if}}
  {{#if messages.create-institution}}
    <div class='message'>
      <span>{{messages.create-institution}}</span>
    </div>
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {{#each institutions}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>
            <form action='/instituicao/remove' method='post'>
              <input type='hidden' name='id' value='{{this.id}}' />
              <button type='submit' class='btn'><i
                  class='bi bi-x-square'
                ></i></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href='/instituicao/cadastro'>Cadastar</a>
</section>