<section>
  {{#if messages.delete-reference-type}}
    <div class='message'>
      <span>{{messages.delete-reference-type}}</span>
    </div>
  {{/if}}
  {{#if messages.create-reference-type}}
    <div class='message'>
      <span>{{messages.create-reference-type}}</span>
    </div>
  {{/if}}
  {{#if messages.error-privilege}}
    <div class='message'>
      <span>{{messages.error-privilege}}</span>
    </div>
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {{#each referenceTypes}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>
            <form action='/tipo-de-referencia/remove' method='post'>
              <input type='hidden' name='id' value='{{this.id}}' />
              <button type='submit' class='btn'><i
                  class='bi bi-x-square'
                ></i></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if privilege}}
    <a href="/tipo-de-referencia/cadastro">Cadastar</a>
  {{/if}}

</section>