<section>
  {{#if messages.delete-departament}}
    <div class='message'>
      <span>{{messages.delete-departament}}</span>
    </div>
  {{/if}}
  {{#if messages.create-departament}}
    <div class='message'>
      <span>{{messages.create-departament}}</span>
    </div>
  {{/if}}
  {{#if messages.update-departament}}
    <div class='message'>
      <span>{{messages.update-departament}}</span>
    </div>
  {{/if}}
  {{#if messages.error-privilege}}
    <div class='message'>
      <span>{{messages.error-privilege}}</span>
    </div>
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      {{#each departaments}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>
            <a href='/setor/editar/{{this.id}}' class='btn'><i
                class='bi bi-pencil-square'
              ></i></a></td>
          <td>
            <form action='/setor/remove' method='post'>
              <input type='hidden' name='id' value='{{this.id}}' />
              <button type='submit' class='btn'><i
                  class='bi bi-x-square'
                ></i></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if privilege}}
    <a href='/setor/cadastro'>Cadastar</a>
  {{/if}}
</section>