<section>
  {{#if messages.delete-equipment}}
    <div class='message'>
      <span>{{messages.delete-equipment}}</span>
    </div>
  {{/if}}
  {{#if messages.create-equipment}}
    <div class='message'>
      <span>{{messages.create-equipment}}</span>
    </div>
  {{/if}}
  {{#if messages.update-equipment}}
    <div class='message'>
      <span>{{messages.update-equipment}}</span>
    </div>
  {{/if}}
  {{#if messages.error-privilege}}
    <div class='message'>
      <span>{{messages.error-privilege}}</span>
    </div>
  {{/if}}
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Equipamento</th>
        <th>Responsável</th>
        <th>Setor</th>
        <th>Tipo de refrência</th>
        <th>Referência</th>
        <th>Editar</th>
        <th>Excluir</th>
    </thead>
    <tbody>
      {{#each equipments}}
        <tr>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.Person.name}}</td>
          <td>{{this.Departament.name}}</td>
          <td>{{this.ReferenceType.name}}</td>
          <td>{{this.reference}}</td>
          <td>
            <a href='/equipamento/editar/{{this.id}}' class="btn-edit"><i
                class='bi bi-pencil-square'
              ></i></a>
          </td>
          <td>
            <form action='/equipamento/remove' method='post'>
              <input type='hidden' name='id' value='{{this.id}}'  />
              <button type='submit' class="btn-delete"><i
                  class='bi bi-x-square'
                ></i></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{#if privilege}}
    <a href="/equipamento/cadastro" class="btn btn-table">Cadastar</a>
  {{/if}}

</section>